aiohttp==3.9.5 ; python_version >= "3.10" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
amqp==5.2.0 ; python_version >= "3.10" and python_version < "4.0"
appdirs==1.4.4 ; python_version >= "3.10" and python_version < "4.0"
arabic-reshaper==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
asgiref==3.8.1 ; python_version >= "3.10" and python_version < "4.0"
asn1crypto==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "4.0"
attrs==23.2.0 ; python_version >= "3.10" and python_version < "4.0"
autopep8==2.3.1 ; python_version >= "3.10" and python_version < "4.0"
babel==2.15.0 ; python_version >= "3.10" and python_version < "4.0"
bcrypt==4.2.0 ; python_version >= "3.10" and python_version < "4.0"
beautifulsoup4==4.12.3 ; python_version >= "3.10" and python_version < "4.0"
billiard==4.2.0 ; python_version >= "3.10" and python_version < "4.0"
boto3==1.34.149 ; python_version >= "3.10" and python_version < "4.0"
boto==2.49.0 ; python_version >= "3.10" and python_version < "4.0"
botocore==1.34.149 ; python_version >= "3.10" and python_version < "4.0"
bs4==0.0.2 ; python_version >= "3.10" and python_version < "4.0"
cached-property==1.5.2 ; python_version >= "3.10" and python_version < "4.0"
cachetools==5.4.0 ; python_version >= "3.10" and python_version < "4.0"
captcha==0.6.0 ; python_version >= "3.10" and python_version < "4.0"
celery-progress==0.4 ; python_version >= "3.10" and python_version < "4.0"
celery==5.4.0 ; python_version >= "3.10" and python_version < "4.0"
certifi==2024.7.4 ; python_version >= "3.10" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "4.0" and
platform_python_implementation != "PyPy"
chardet==5.2.0 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version <
"4.0"
click-didyoumean==0.3.1 ; python_version >= "3.10" and python_version <
"4.0"
click-plugins==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
click-repl==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and
platform_system == "Windows"
confuse==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
cron-descriptor==1.4.3 ; python_version >= "3.10" and python_version < "4.0"
cryptography==43.0.0 ; python_version >= "3.10" and python_version < "4.0"
cssselect2==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "4.0"
dicttoxml==1.7.16 ; python_version >= "3.10" and python_version < "4.0"
distlib==0.3.8 ; python_version >= "3.10" and python_version < "4.0"
dj-database-url==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
dj-stripe==2.9.0a1 ; python_version >= "3.10" and python_version < "4.0"
django-bootstrap-form==3.4 ; python_version >= "3.10" and python_version <
"4.0"
django-bootstrap-modal-forms==3.0.4 ; python_version >= "3.10" and
python_version < "4.0"
django-celery-beat==2.6.0 ; python_version >= "3.10" and python_version <
"4.0"
django-celery-results==2.5.1 ; python_version >= "3.10" and python_version
< "4.0"
django-colorfield==0.11.0 ; python_version >= "3.10" and python_version <
"4.0"
django-cors-headers==4.4.0 ; python_version >= "3.10" and python_version <
"4.0"
django-countries==7.6.1 ; python_version >= "3.10" and python_version <
"4.0"
django-crispy-forms==2.3 ; python_version >= "3.10" and python_version <
"4.0"
django-easy-select2==1.5.8 ; python_version >= "3.10" and python_version <
"4.0"
django-excel==0.0.10 ; python_version >= "3.10" and python_version < "4.0"
django-forms-bootstrap==3.1.0 ; python_version >= "3.10" and python_version
< "4.0"
django-mailjet==0.3.1 ; python_version >= "3.10" and python_version < "4.0"
django-mathfilters==1.0.0 ; python_version >= "3.10" and python_version <
"4.0"
django-otp==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
django-phonenumber-field==8.0.0 ; python_version >= "3.10" and
python_version < "4.0"
django-ratelimit==4.1.0 ; python_version >= "3.10" and python_version <
"4.0"
django-recaptcha==4.0.0 ; python_version >= "3.10" and python_version <
"4.0"
django-rq==2.10.2 ; python_version >= "3.10" and python_version < "4.0"
django-storages==1.14.4 ; python_version >= "3.10" and python_version <
"4.0"
django-timezone-field==7.0 ; python_version >= "3.10" and python_version <
"4.0"
django-user-sessions==2.0.0 ; python_version >= "3.10" and python_version <
"4.0"
django-utils-six==2.0 ; python_version >= "3.10" and python_version < "4.0"
django==5.0.7 ; python_version >= "3.10" and python_version < "4.0"
djangorestframework==3.15.2 ; python_version >= "3.10" and python_version <
"4.0"
et-xmlfile==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
etsy2==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
filelock==3.15.4 ; python_version >= "3.10" and python_version < "4.0"
fontawesome-free==5.15.4 ; python_version >= "3.10" and python_version < "4.0"
frozenlist==1.4.1 ; python_version >= "3.10" and python_version < "4.0"
future==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
fuzzywuzzy==0.18.0 ; python_version >= "3.10" and python_version < "4.0"
geoip2==4.8.0 ; python_version >= "3.10" and python_version < "4.0"
google-api-core==2.19.1 ; python_version >= "3.10" and python_version < "4.0"
google-api-python-client==2.138.0 ; python_version >= "3.10" and python_version < "4.0"
google-auth-httplib2==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
google-auth-oauthlib==1.2.1 ; python_version >= "3.10" and python_version < "4.0"
google-auth==2.32.0 ; python_version >= "3.10" and python_version < "4.0"
googleapis-common-protos==1.63.2 ; python_version >= "3.10" and python_version < "4.0"
gspread==6.1.2 ; python_version >= "3.10" and python_version < "4.0"
gunicorn==22.0.0 ; python_version >= "3.10" and python_version < "4.0"
heroku3==5.2.1 ; python_version >= "3.10" and python_version < "4.0"
html5lib==1.1 ; python_version >= "3.10" and python_version < "4.0"
httplib2==0.22.0 ; python_version >= "3.10" and python_version < "4.0"
humanize==4.10.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.7 ; python_version >= "3.10" and python_version < "4.0"
isodate==0.6.1 ; python_version >= "3.10" and python_version < "4.0"
isort==5.13.2 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.4 ; python_version >= "3.10" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
joblib==1.4.2 ; python_version >= "3.10" and python_version < "4.0"
jsonfield==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
kombu==5.3.7 ; python_version >= "3.10" and python_version < "4.0"
levenshtein==0.25.1 ; python_version >= "3.10" and python_version < "4.0"
lml==0.1.0 ; python_version >= "3.10" and python_version < "4.0"
lxml==5.2.2 ; python_version >= "3.10" and python_version < "4.0"
mailjet-rest==1.3.4 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==2.1.5 ; python_version >= "3.10" and python_version < "4.0"
maxminddb==2.6.2 ; python_version >= "3.10" and python_version < "4.0"
mollie-api-python==3.6.1 ; python_version >= "3.10" and python_version < "4.0"
multidict==6.0.5 ; python_version >= "3.10" and python_version < "4.0"
mws==0.8.15 ; python_version >= "3.10" and python_version < "4.0"
numpy==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "4.0"
openpyxl==3.1.5 ; python_version >= "3.10" and python_version < "4.0"
ordereddict==1.1 ; python_version >= "3.10" and python_version < "4.0"
oscrypto==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.10" and python_version < "4.0"
pandas==2.2.2 ; python_version >= "3.10" and python_version < "4.0"
pbr==6.0.0 ; python_version >= "3.10" and python_version < "4.0"
pdfkit==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
phonenumbers==8.13.40 ; python_version >= "3.10" and python_version < "4.0"
pillow==10.4.0 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==4.2.2 ; python_version >= "3.10" and python_version < "4.0"
prometheus-client==0.20.0 ; python_version >= "3.10" and python_version < "4.0"
prompt-toolkit==3.0.47 ; python_version >= "3.10" and python_version < "4.0"
proto-plus==1.24.0 ; python_version >= "3.10" and python_version < "4.0"
protobuf==5.27.2 ; python_version >= "3.10" and python_version < "4.0"
psycopg2-binary==2.9.9 ; python_version >= "3.10" and python_version < "4.0"
pyactiveresource==2.2.2 ; python_version >= "3.10" and python_version < "4.0"
pyasn1-modules==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
pyasn1==0.6.0 ; python_version >= "3.10" and python_version < "4.0"
pycodestyle==2.12.0 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.10" and python_version < "4.0" and
platform_python_implementation != "PyPy"
pycryptodome==3.20.0 ; python_version >= "3.10" and python_version < "4.0"
pyexcel-io==0.6.6 ; python_version >= "3.10" and python_version < "4.0"
pyexcel-webio==0.1.4 ; python_version >= "3.10" and python_version < "4.0"
pyexcel==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
pyflakes==3.2.0 ; python_version >= "3.10" and python_version < "4.0"
pyhanko-certvalidator==0.26.3 ; python_version >= "3.10" and python_version < "4.0"
pyhanko==0.25.1 ; python_version >= "3.10" and python_version < "4.0"
pyjwt==2.8.0 ; python_version >= "3.10" and python_version < "4.0"
pyparsing==3.1.2 ; python_version >= "3.10" and python_version < "4.0"
pypdf2==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
pypdf==4.3.1 ; python_version >= "3.10" and python_version < "4.0"
pypng==0.20220715.0 ; python_version >= "3.10" and python_version < "4.0"
python-amazon-sp-api==1.6.4 ; python_version >= "3.10" and python_version < "4.0"
python-bidi==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
python-crontab==3.2.0 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
python-levenshtein==0.25.1 ; python_version >= "3.10" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
qrcode==7.4.2 ; python_version >= "3.10" and python_version < "4.0"
rapidfuzz==3.9.5 ; python_version >= "3.10" and python_version < "4.0"
ratelimiter==1.2.0.post0 ; python_version >= "3.10" and python_version < "4.0"
redis==5.0.7 ; python_version >= "3.10" and python_version < "4.0"
reportlab==4.2.2 ; python_version >= "3.10" and python_version < "4"
requests-file==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
requests-mock==1.12.1 ; python_version >= "3.10" and python_version < "4.0"
requests-oauthlib==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.10" and python_version < "4.0"
rq==1.16.2 ; python_version >= "3.10" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.10" and python_version < "4"
s3transfer==0.10.2 ; python_version >= "3.10" and python_version < "4.0"
setuptools==72.1.0 ; python_version >= "3.10" and python_version < "4.0"
shopifyapi==12.6.0 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
soupsieve==2.5 ; python_version >= "3.10" and python_version < "4.0"
sqlparse==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
stevedore==5.2.0 ; python_version >= "3.10" and python_version < "4.0"
stripe==10.8.0 ; python_version >= "3.10" and python_version < "4.0"
svglib==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
texttable==1.7.0 ; python_version >= "3.10" and python_version < "4.0"
threadpoolctl==3.5.0 ; python_version >= "3.10" and python_version < "4.0"
tinycss2==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tornado==6.4.1 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.10" and python_version < "4.0"
tzlocal==5.2 ; python_version >= "3.10" and python_version < "4.0"
uritemplate==4.1.1 ; python_version >= "3.10" and python_version < "4.0"
uritools==4.0.3 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.2.2 ; python_version >= "3.10" and python_version < "4.0"
vine==5.1.0 ; python_version >= "3.10" and python_version < "4.0"
virtualenv-clone==0.5.7 ; python_version >= "3.10" and python_version < "4.0"
virtualenv==20.26.3 ; python_version >= "3.10" and python_version < "4.0"
virtualenvwrapper==6.1.0 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.13 ; python_version >= "3.10" and python_version < "4.0"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
whitenoise==6.7.0 ; python_version >= "3.10" and python_version < "4.0"
woocommerce==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
xhtml2pdf==0.2.16 ; python_version >= "3.10" and python_version < "4.0"
xlrd==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
xlwt==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
xmltodict==0.13.0 ; python_version >= "3.10" and python_version < "4.0"
yarl==1.9.4 ; python_version >= "3.10" and python_version < "4.0"
zeep==4.2.1 ; python_version >= "3.10" and python_version < "4.0"
